@import 'mixins';

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
}

.container-style {
  padding-left: 0;
  padding-right: 0;
}
// CSS for navbar.blade.php
.navbar-fix {
	border-radius: 0;
	margin-bottom: 0;
}

.title-header {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.title-header:hover {
  color: #fff;
  text-decoration: none;
}

.flipkart-navbar {
  background-color: #2874f0;
  color: #FFFFFF;
}

.row1{
  padding-top: 10px;
}

.row2 {
  padding-bottom: 20px;
}

.flipkart-navbar-input {
  padding: 11px 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  outline: 0 none;
  font-size: 15px;
  color: #000;
}

.flipkart-navbar-button {
  background-color: #ffe11b;
  border: 1px solid #ffe11b;
  border-radius: 0 2px 2px 0;
  color: #565656;
  padding: 11.3px 0;
  height: 46px;
  cursor: pointer;
}

.cart-button {
  background-color: #2469d9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
  padding: 10px 0;
  text-align: center;
  height: 41px;
  border-radius: 2px;
  font-weight: 500;
  width: 120px;
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

.cart-button:hover{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.item-number {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .1);
  height: 20px;
  padding: 3px 6px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
  line-height: 12px;
  margin-left: 10px;
}

.upper-links {
  display: inline-block;
  padding: 0 11px;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  color: inherit;
  border: none;
  outline: none;
  font-size: 12px;
}

.links {
  color: #fff;
  text-decoration: none;
}

.links:hover {
  color: #fff;
  text-decoration: none;
}

// CSS for slide.blade.php
.item {
  display: none;
  height: 400px;
  width: 100%;
}

// CSS for thumbnails.blade.php
.products {
  @include margin(0);
  @include text-align(center);
  padding: 14px;
}

.thumbnail a img {
  height: 300px;
  width: 100%;
}

.caption p {
  color: #000;
}

.add-to-cart {
  border: 1px solid #722A1B;
  padding: 4px 14px;
  color: #722A1B;
  background-color: #fff;
  text-transform: uppercase;
  margin: 5px 0;
  font-weight: bold;
  cursor: pointer;
}

// CSS for order table index.blade.php
.order-button {
	margin-bottom: 20px;
  @include text-align(center);
}

// CSS for footer.blade.php
.footer {
	background: #000;
  position:fixed;
  bottom:0;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

address {
	margin-bottom: 0px;
	@include text-align(center);
}

//login form
.login-container {
  @include margin-top(100px);
}

.show-image {
  a {
    img {
    display: block;
    height: 400px;
    width: 100%;
    }
  }
}

.form-title {
  @include text-align(center);
}

// register form
.register-container {
  @include margin-top(100px);
}

.register-title {
  @include text-align(center);
}

.register-button {
  @include text-align(center);
}

// reset password
.email-form {
  @include margin-top(100px);
}
.email-title {
  @include text-align(center);
}
